body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/img3.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    background-color:rgba(65, 56, 56, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    color: white;

}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 10px;
}

.search-bar {
    display:block;
    margin-bottom: 20px;
    border-radius: 20px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 50px;
    font-size: 16px;
    background-color: #14dd1e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease ,transform 0.1s ease ;
    border-radius: 20px;
}

#searchButton:hover {
    background-color:#b0c9b1;
    transform: translateY(-2px);

}

.category-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-btn {
    padding: 10px 150px;
    font-size: 16px;
    background-color:white;
    color:black;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease ,transform 0.1s ease ;
    border-radius: 20px;
}

.category-btn :hover {
    background-color:#b0c9b1;
    transform: translateY(-2px);

}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.menu-item {
    width: calc(32% - 20px);
    background-color:rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.menu-item img {
    border-radius: 20px;
    max-width: 75%;
    height:50%;
    border-color: black;
}

.order-summary {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

#billButton {
    display: block;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease ,transform 0.1s ease ;

}
#billButton:hover {
    background-color:#b0c9b1;
    transform: translateY(-2px);

}

#backButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease ,transform 0.1s ease ;
}
#backButton:hover {
    background-color:#b0c9b1;
    transform: translateY(-2px);

}

